<!DOCTYPE html>
<html>
  <head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- <style>
      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Raleway", sans-serif;
      }
    </style> -->
  </head>
  <body>
    <div class="w3-bar w3-black w3-padding">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">Freelance Go</a>
    </div>
    <div class="w3-padding-48">
      <div class="w3-padding-large">
        <h3 class="w3-xlarge">Welcome to Freelance Go <%= savedUser.name %></h3>

        <h4>
          Select the favorable plan the suits your needs and become member of
          our platform
        </h4>
        <!-- Pricing Tables -->
        <div class="w3-row-padding w3-padding-32" style="margin: 0 -16px">
          <div class="w3-third w3-margin-bottom">
            <ul class="w3-ul w3-border w3-white w3-center w3-hover-opacity-off">
              <li class="w3-black w3-xlarge w3-padding-32">Basic</li>
              <li class="w3-padding-16">Platform Support</li>
              <li class="w3-padding-16">1GB Storage</li>
              <li class="w3-padding-16">Mail Support</li>
              <li class="w3-padding-16">
                <h2>$ 0</h2>
                <span class="w3-opacity">Three Months</span>
              </li>
              <li class="w3-light-grey w3-padding-24">
                <a
                  href="/freelancego/signin"
                  class="w3-button w3-teal w3-padding-large w3-hover-black"
                >
                  Free
                </a>
              </li>
            </ul>
          </div>

          <div class="w3-third w3-margin-bottom">
            <ul class="w3-ul w3-border w3-white w3-center w3-hover-opacity-off">
              <li class="w3-teal w3-xlarge w3-padding-32">Pro</li>
              <li class="w3-padding-16">Platform Support</li>
              <li class="w3-padding-16">50GB Storage</li>
              <li class="w3-padding-16">Endless Support</li>
              <li class="w3-padding-16">
                <h2>$ 50</h2>
                <span class="w3-opacity">Per Year</span>
              </li>
              <li class="w3-light-grey w3-padding-24">
                <a
                  href="/freelancego/gotopaymentpage"
                  class="w3-button w3-teal w3-padding-large w3-hover-black"
                >
                  pay
                </a>
              </li>
            </ul>
          </div>

          <div class="w3-third">
            <ul class="w3-ul w3-border w3-white w3-center w3-hover-opacity-off">
              <li class="w3-black w3-xlarge w3-padding-32">Premium</li>
              <li class="w3-padding-16">Platform Support</li>
              <li class="w3-padding-16">Unlimited Storage</li>
              <li class="w3-padding-16">Endless Support</li>
              <li class="w3-padding-16">
                <h2>$ 75</h2>
                <span class="w3-opacity">Per Year</span>
              </li>
              <li class="w3-light-grey w3-padding-24">
                <a
                  href="/freelancego/gotopaymentpage"
                  class="w3-button w3-teal w3-padding-large w3-hover-black"
                >
                  pay
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-container w3-black w3-padding-64">
      <div class="w3-center">
        <div class="w3-bar">
          <span>Follow Us :</span>
          <span class="fa fa-facebook-official"></span>
          <span class="fa fa-instagram"></span>
          <span class="fa fa-linkedin"></span>
          <span class="fa fa-twitter"></span>
          <span class="fa fa-pinterest"></span>
          <span class="fa fa-snapchat"></span>
        </div>
      </div>
    </div>
  </body>
</html>
