<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&family=Podkova:wght@600;800&family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="homepage.css" />
  </head>
  <body>
    <nav>
      <a href="#" class="logo">Freelancer Go</a>
      <ul>
        <li>
          <a href="/freelancego/complaints">Complaints</a>
        </li>
        <li><a href="/freelancego/signin">Sign In</a></li>
        <li><a href="/freelancego/join">Join</a></li>
      </ul>
    </nav>
    <div class="main_nav">
      <ul>
        <li>
          <a href="#">Web Design<i class="fa fa-caret-down"></i></a>
        </li>
        <li>
          <a href="#">Art<i class="fa fa-caret-down"></i></a>
        </li>
        <li>
          <a href="#">Photography<i class="fa fa-caret-down"></i></a>
        </li>
        <li>
          <a href="#">Java<i class="fa fa-caret-down"></i></a>
        </li>
        <li>
          <a href="#">MySql<i class="fa fa-caret-down"></i></a>
        </li>
        <li>
          <a href="#">Graphics<i class="fa fa-caret-down"></i></a>
        </li>

        <li>
          <a href="#">3D Modelling<i class="fa fa-caret-down"></i></a>
        </li>
        <li>
          <a href="#">Logo Design<i class="fa fa-caret-down"></i></a>
        </li>
      </ul>
      <a href="/freelancego/signin" class="post_btn">Post a Project</a>
    </div>
    <div class="main_body">
      <div class="main_body_text">
        <div>
          <h2 class="w3-margin-bottom">
            Turn your dreams into <br />
            reality
          </h2>
          <h6 class="w3-margin-bottom">
            Millions of people all around the world using our platform
          </h6>
          <div class="main_body_buttons w3-margin-top">
            <button>Are you a Developer</button>
            <button>Looking For a Developer</button>
          </div>
        </div>
      </div>
      <div class="guy">
        <svg
          width="500"
          height="480 "
          viewBox="0 0 504 484"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0)" filter="url(#filter0_d)">
            <path
              d="M364.099 270.543V401.759L385.68 437.528L387.322 440.249H472.476L474.196 270.543H364.099Z"
              fill="#E6E6E6"
            />
            <path
              opacity="0.1"
              d="M364.099 270.543V401.759L385.68 437.528L387.004 270.543H364.099Z"
              fill="black"
            />
            <path
              d="M158.526 267.044V398.26L136.944 434.029L135.302 436.749H50.1486L48.428 267.044H158.526Z"
              fill="#E6E6E6"
            />
            <path
              opacity="0.1"
              d="M158.526 267.044V398.26L136.944 434.029L135.62 267.044H158.526Z"
              fill="black"
            />
            <path
              d="M500 264.42V272.293H37.2462V260.92L80.2529 238.176H462.154L500 264.42Z"
              fill="#E6E6E6"
            />
            <path
              opacity="0.1"
              d="M500 264.42V272.293H37.2462V260.92L500 264.42Z"
              fill="black"
            />
            <path
              d="M103.477 303.784H82.8334L74.2321 297.661H112.938L103.477 303.784Z"
              fill="#3F3D56"
            />
            <path
              d="M103.477 329.153H82.8334L74.2321 323.03H112.938L103.477 329.153Z"
              fill="#3F3D56"
            />
            <path
              d="M103.477 365.019H82.8334L74.2321 358.895H112.938L103.477 365.019Z"
              fill="#3F3D56"
            />
            <path
              d="M103.477 400.884H82.8334L74.2321 394.761H112.938L103.477 400.884Z"
              fill="#3F3D56"
            />
            <path
              d="M419.147 307.283H439.791L448.392 301.16H409.686L419.147 307.283Z"
              fill="#3F3D56"
            />
            <path
              d="M419.147 332.652H439.791L448.392 326.528H409.686L419.147 332.652Z"
              fill="#3F3D56"
            />
            <path
              d="M419.147 368.518H439.791L448.392 362.395H409.686L419.147 368.518Z"
              fill="#3F3D56"
            />
            <path
              d="M419.147 404.383H439.791L448.392 398.26H409.686L419.147 404.383Z"
              fill="#3F3D56"
            />
            <path
              d="M433.205 86.4386H259.417C258.554 86.4385 257.699 86.6113 256.901 86.9471C256.104 87.283 255.379 87.7754 254.769 88.3961C254.159 89.0168 253.675 89.7537 253.344 90.5648C253.014 91.3758 252.844 92.245 252.844 93.1228V212.183C252.844 213.061 253.014 213.93 253.344 214.741C253.675 215.552 254.159 216.289 254.769 216.91C255.379 217.53 256.104 218.023 256.901 218.359C257.699 218.694 258.554 218.867 259.417 218.867H325.388L322.917 234.916C322.917 234.916 308.792 242.547 318.723 242.772C328.655 242.996 375.443 242.772 375.443 242.772C375.443 242.772 384.492 242.772 370.146 234.691L367.821 218.867H433.205C434.068 218.867 434.923 218.694 435.72 218.359C436.518 218.023 437.242 217.53 437.852 216.91C438.463 216.289 438.947 215.552 439.277 214.741C439.607 213.93 439.777 213.061 439.777 212.183V93.1228C439.777 92.245 439.607 91.3758 439.277 90.5648C438.947 89.7537 438.463 89.0168 437.852 88.3961C437.242 87.7754 436.518 87.283 435.72 86.9471C434.923 86.6113 434.068 86.4385 433.205 86.4386Z"
              fill="#3F3D56"
            />
            <path
              d="M433.487 93.5089H259.134V192.718H433.487V93.5089Z"
              fill="#F2F2F2"
            />
            <path
              d="M346.311 91.4888C346.92 91.4888 347.414 90.9864 347.414 90.3665C347.414 89.7467 346.92 89.2443 346.311 89.2443C345.701 89.2443 345.207 89.7467 345.207 90.3665C345.207 90.9864 345.701 91.4888 346.311 91.4888Z"
              fill="#F2F2F2"
            />
            <path
              d="M346.311 214.041C348.627 214.041 350.504 212.132 350.504 209.777C350.504 207.421 348.627 205.512 346.311 205.512C343.995 205.512 342.117 207.421 342.117 209.777C342.117 212.132 343.995 214.041 346.311 214.041Z"
              fill="#F2F2F2"
            />
            <path
              d="M339.776 254.892V257.137H221.04V255.341L221.203 254.892L224.13 246.812H337.349L339.776 254.892Z"
              fill="#3F3D56"
            />
            <path
              d="M385.47 252.695C385.254 253.635 384.437 254.627 382.592 255.566C375.971 258.932 362.508 254.668 362.508 254.668C362.508 254.668 352.135 252.872 352.135 248.159C352.427 247.956 352.73 247.772 353.045 247.609C355.828 246.111 365.058 242.415 381.423 247.765C382.629 248.15 383.706 248.868 384.534 249.838C384.901 250.205 385.177 250.656 385.34 251.152C385.503 251.649 385.547 252.177 385.47 252.695Z"
              fill="#3F3D56"
            />
            <path
              opacity="0.1"
              d="M385.47 252.695C377.366 255.853 370.142 256.089 362.729 250.852C359.926 248.744 356.531 247.607 353.045 247.609C355.828 246.111 365.058 242.415 381.423 247.765C382.629 248.15 383.706 248.868 384.534 249.838C384.901 250.205 385.177 250.656 385.34 251.152C385.503 251.649 385.547 252.177 385.47 252.695Z"
              fill="black"
            />
            <path
              d="M375.309 250.852C376.894 250.852 378.178 250.45 378.178 249.954C378.178 249.458 376.894 249.056 375.309 249.056C373.724 249.056 372.44 249.458 372.44 249.954C372.44 250.45 373.724 250.852 375.309 250.852Z"
              fill="#F2F2F2"
            />
            <path
              opacity="0.1"
              d="M339.776 254.892V257.137H221.04V255.341L221.203 254.892H339.776Z"
              fill="black"
            />
            <path
              d="M70.0192 1.00012C68.8142 0.899495 67.6075 1.17364 66.5591 1.78622C65.5297 2.50318 64.8809 3.7592 64.2187 4.92801C61.6865 9.45018 58.2586 13.3882 54.1519 16.4927C51.1606 18.7213 47.3577 21.5001 47.8695 25.609C48.1395 26.966 48.6324 28.267 49.3275 29.4573C52.087 35.1224 59.617 39.5003 58.8764 45.9647C61.6179 41.2969 57.9509 38.9888 60.6925 34.3211C61.9981 32.0982 64.2661 29.5889 66.2374 30.9849C66.8974 31.4523 67.3308 32.2907 68.018 32.7008C69.6578 33.6794 71.4023 31.8085 72.8538 30.4833C77.8592 25.9136 84.9772 27.1108 91.2058 28.5346C94.1463 29.2068 97.3761 30.0886 99.1144 32.9469C101.4 36.7049 96.943 40.7635 95.8169 45.0123C95.725 45.3743 95.7206 45.7536 95.8042 46.1177C95.8879 46.4818 96.0569 46.8199 96.297 47.1031C96.5371 47.3862 96.8411 47.6061 97.1829 47.7437C97.5248 47.8814 97.8943 47.9328 98.2599 47.8935C100.129 47.706 102.343 47.5523 102.453 46.7183C104.805 46.8034 107.686 46.5326 108.693 44.0425C109.001 43.0572 109.164 42.0311 109.176 40.9973C109.546 36.8145 111.292 32.9985 112.448 29.0175C113.605 25.0364 114.107 20.3708 112.156 16.8412C111.459 15.6668 110.598 14.6022 109.599 13.6809C98.5247 2.78141 83.9643 0.983939 70.0192 1.00012Z"
              fill="#2F2E41"
            />
            <path
              d="M61.2849 54.1296C61.2849 54.1296 63.6933 74.5419 54.8622 76.1748C46.0311 77.8078 62.8905 105.569 62.8905 105.569L103.032 110.467L93.3981 77.8078C93.3981 77.8078 86.9755 75.3583 90.9896 59.0285C95.0038 42.6987 61.2849 54.1296 61.2849 54.1296Z"
              fill="#FFB8B8"
            />
            <path
              d="M36.7985 404.812L40.0101 449.72H56.869L52.0526 404.812H36.7985Z"
              fill="#FFB8B8"
            />
            <path
              d="M160.434 319.897L162.843 357.456L181.308 349.291L174.082 318.265L160.434 319.897Z"
              fill="#FFB8B8"
            />
            <path
              d="M24.7561 233.349C24.7561 233.349 25.5589 280.706 30.3759 296.219C35.1929 311.732 34.39 312.549 33.5872 314.998C32.7844 317.448 31.9816 315.815 31.9816 319.897C31.9816 323.98 30.3759 388.483 31.9816 394.198C33.5872 399.913 27.1646 409.711 31.9816 410.528C36.7985 411.344 59.2778 410.528 60.0806 405.629C60.8835 400.73 53.658 399.097 56.8693 395.831C60.0807 392.565 64.8976 325.613 64.8976 325.613L76.1373 279.073L97.0108 254.578H141.167L154.815 308.466C154.815 308.466 149.195 323.98 153.209 323.98C157.223 323.98 181.308 328.879 181.308 310.916C181.308 292.953 173.28 239.881 171.674 238.248C170.068 236.615 172.477 230.9 170.068 228.45C167.66 226.001 139.561 208.855 129.124 205.589C118.687 202.323 104.046 198.436 104.046 198.436L24.7561 233.349Z"
              fill="#2F2E41"
            />
            <path
              d="M181.308 342.759C181.308 342.759 169.266 338.677 163.646 350.924C158.026 363.171 160.434 366.437 160.434 366.437C160.434 366.437 178.9 372.969 182.111 369.703C183.508 368.282 187.945 367.789 192.511 367.684C199.467 367.526 201.317 357.518 194.748 355.188C194.552 355.118 194.354 355.058 194.153 355.006C187.731 353.373 181.308 342.759 181.308 342.759Z"
              fill="#2F2E41"
            />
            <path
              d="M79.3486 67.6017C92.6503 67.6017 103.433 56.635 103.433 43.107C103.433 29.5789 92.6503 18.6122 79.3486 18.6122C66.0468 18.6122 55.2636 29.5789 55.2636 43.107C55.2636 56.635 66.0468 67.6017 79.3486 67.6017Z"
              fill="#FFB8B8"
            />
            <path
              d="M48.0381 86.381C48.0381 86.381 87.3769 94.5459 97.0108 81.482C106.645 68.4182 110.659 118.224 110.659 118.224L115.476 170.48L108.25 199.057C108.25 199.057 70.5174 230.083 58.4749 232.533C46.4325 234.982 27.9674 236.615 27.9674 236.615C27.9674 236.615 33.5872 145.985 33.5872 144.352C33.5872 142.719 48.0381 86.381 48.0381 86.381Z"
              fill="#6C63FF"
            />
            <path
              d="M60.002 71.068C60.002 71.068 51.2495 65.9687 48.841 70.8677C46.4325 75.7666 23.9532 88.0139 21.5447 88.0139C19.1362 88.0139 26.3617 155.783 23.1504 163.948C19.9391 172.112 4.68529 231.716 13.5164 236.615C22.3476 241.514 15.9249 231.716 24.7561 243.964C33.5872 256.211 76.94 256.211 79.3485 251.312C81.757 246.413 60.0806 209.671 64.0948 175.378C68.1089 141.086 74.5316 93.7294 68.9118 87.1975C63.2919 80.6655 60.002 71.068 60.002 71.068Z"
              fill="#2F2E41"
            />
            <path
              d="M88.9825 76.5831L90.1008 72.6692C90.1008 72.6692 123.504 83.9315 125.11 91.2799C126.716 98.6284 125.913 150.067 120.293 154.15C114.673 158.232 106.645 164.764 112.265 174.562C117.884 184.36 124.307 194.974 129.124 195.791C133.941 196.607 142.772 202.323 140.364 208.038C137.955 213.753 109.053 203.139 109.053 203.139C109.053 203.139 89.7854 188.442 90.5882 165.581C91.391 142.719 88.9825 76.5831 88.9825 76.5831Z"
              fill="#2F2E41"
            />
            <path
              d="M117.082 172.929L97.8137 209.671C97.8137 209.671 69.7146 239.065 85.7712 242.331C101.828 245.597 110.659 215.387 110.659 215.387L131.533 185.176L117.082 172.929Z"
              fill="#FFB8B8"
            />
            <path
              d="M71.1925 7.40909C70.2217 7.33593 69.2493 7.52775 68.3758 7.96471C67.5861 8.55134 66.9351 9.31001 66.4706 10.1853C64.3292 13.4612 61.5379 16.2454 58.2758 18.3592C55.8408 19.9343 52.7451 21.8983 53.1617 24.8025C53.3879 25.7762 53.7904 26.6986 54.3486 27.5224C56.6027 31.567 57.5 36.2481 56.9048 40.8576L63.6002 30.9601C64.663 29.389 66.5093 27.6155 68.1139 28.6022C68.6512 28.9325 69.004 29.5251 69.5634 29.8149C70.8983 30.5066 72.3184 29.1843 73.5 28.2476C77.5746 25.0178 83.3689 25.8639 88.4393 26.8703C90.833 27.3454 93.4622 27.9687 94.8772 29.9889C97.2287 33.346 94.7733 38.1969 96.1457 42.0752C96.5299 41.8016 96.8561 41.4524 97.1051 41.0483C97.3541 40.6441 97.5208 40.1932 97.5953 39.7224C99.5094 39.7825 101.855 39.5911 102.675 37.8311C102.924 37.1414 103.057 36.4137 103.068 35.6788C103.369 32.7225 104.79 30.0253 105.731 27.2116C106.673 24.3978 107.082 21.1002 105.494 18.6054C104.912 17.7602 104.211 17.0074 103.412 16.3718C94.3972 8.66808 82.5444 7.39766 71.1925 7.40909Z"
              fill="#2F2E41"
            />
            <path
              d="M117.082 88.0139L124.562 90.0332C124.562 90.0332 141.969 135.37 137.955 166.397C133.941 197.424 131.533 190.892 131.533 190.892C131.533 190.892 125.11 176.195 110.659 179.461L117.082 88.0139Z"
              fill="#2F2E41"
            />
            <path
              d="M37.9108 443.784C35.9748 446.46 36.363 450.285 34.6481 453.112C33.1615 455.563 30.36 456.848 28.5007 459.02C27.9074 459.741 27.3785 460.515 26.9202 461.332C25.1954 464.27 23.7935 468.036 25.4922 470.99C26.8587 473.366 29.731 474.295 32.3653 474.928C35.6948 475.728 39.1543 476.368 42.5222 475.757C45.8902 475.145 49.1818 473.048 50.3827 469.79C50.6187 468.971 50.8993 468.165 51.2232 467.378C53.0486 463.723 58.7745 463.683 60.6428 460.051C61.9502 457.509 60.7484 454.436 59.547 451.84L55.8778 443.913C54.6601 441.282 49.724 442.795 47.1506 442.164C43.7944 441.342 40.3252 440.436 37.9108 443.784Z"
              fill="#2F2E41"
            />
            <path
              d="M11.1079 189.259L44.8268 242.331C44.8268 242.331 65.7004 269.275 72.1231 257.028C78.5457 244.78 49.6438 224.368 49.6438 224.368L27.9674 183.543L11.1079 189.259Z"
              fill="#FFB8B8"
            />
            <path
              d="M27.9674 89.6469L21.5447 88.0139C21.5447 88.0139 8.69943 92.0964 5.48811 109.243C2.27679 126.389 4.68528 194.974 8.69943 195.791C12.7136 196.607 28.5253 183.849 31.0562 186.554C33.5872 189.259 25.5589 175.378 27.9673 168.03C30.3758 160.682 27.9674 89.6469 27.9674 89.6469Z"
              fill="#2F2E41"
            />
            <path
              d="M329.808 126.093H309.058V131.173H329.808V126.093Z"
              fill="#6C63FF"
            />
            <path
              d="M401.665 126.093H394.364V131.173H401.665V126.093Z"
              fill="#6C63FF"
            />
            <path
              d="M416.267 126.093H408.966V131.173H416.267V126.093Z"
              fill="#6C63FF"
            />
            <path
              d="M386.679 126.093H337.109V131.173H386.679V126.093Z"
              fill="#6C63FF"
            />
            <path
              d="M303.679 158.92H282.929V164H303.679V158.92Z"
              fill="#6C63FF"
            />
            <path
              d="M375.535 158.92H368.234V164H375.535V158.92Z"
              fill="#6C63FF"
            />
            <path
              d="M390.137 158.92H382.836V164H390.137V158.92Z"
              fill="#6C63FF"
            />
            <path
              d="M360.549 158.92H310.98V164H360.549V158.92Z"
              fill="#6C63FF"
            />
            <path
              d="M389.369 137.426H368.619V142.506H389.369V137.426Z"
              fill="#6C63FF"
            />
            <path
              d="M417.42 137.426H396.67V142.506H417.42V137.426Z"
              fill="#6C63FF"
            />
            <path
              d="M290.23 137.426H282.929V142.506H290.23V137.426Z"
              fill="#6C63FF"
            />
            <path
              d="M304.832 137.426H297.531V142.506H304.832V137.426Z"
              fill="#6C63FF"
            />
            <path
              d="M361.702 137.426H312.132V142.506H361.702V137.426Z"
              fill="#6C63FF"
            />
            <path
              d="M346.332 148.368H325.582V153.448H346.332V148.368Z"
              fill="#6C63FF"
            />
            <path
              d="M318.281 148.368H297.531V153.448H318.281V148.368Z"
              fill="#6C63FF"
            />
            <path
              d="M290.23 148.368H282.929V153.448H290.23V148.368Z"
              fill="#6C63FF"
            />
            <path
              d="M417.42 148.368H410.119V153.448H417.42V148.368Z"
              fill="#6C63FF"
            />
            <path
              d="M402.818 148.368H353.248V153.448H402.818V148.368Z"
              fill="#6C63FF"
            />
          </g>
          <defs>
            <filter
              id="filter0_d"
              x="0"
              y="0"
              width="504"
              height="484"
              filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB"
            >
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix
                in="SourceAlpha"
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha"
              />
              <feOffset dy="4" />
              <feGaussianBlur stdDeviation="2" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix
                type="matrix"
                values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
              />
              <feBlend
                mode="normal"
                in2="BackgroundImageFix"
                result="effect1_dropShadow"
              />
              <feBlend
                mode="normal"
                in="SourceGraphic"
                in2="effect1_dropShadow"
                result="shape"
              />
            </filter>
            <clipPath id="clip0">
              <rect
                width="496"
                height="476"
                fill="white"
                transform="translate(4)"
              />
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
    <div
      class="used_by_bar w3-bar w3-padding-small"
      style="display: flex; justify-content: center; color: #766e6e"
    >
      <span class="w3-bar-item">Used By :</span>
      <span class="w3-bar-item">Facebook</span>
      <span class="w3-bar-item">Amazon</span>
      <span class="w3-bar-item">LinkedIn</span>
      <span class="w3-bar-item">Paypal</span>

      <span class="w3-bar-item">Android</span>
    </div>
    <div class="best_of_us w3-padding-48 w3-margin">
      <h2>Best Features of our platform</h2>
      <div class="w3-row-padding w3-padding-16">
        <div class="w3-col l3 m6 s12">
          <div
            class="w3-padding-large w3-border w3-margin-bottom"
            style="border: 1px solid black; height: 200px; border-radius: 10px"
          >
            <h3>
              <svg
                width="20"
                height="20"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M30 16.6666C24.4783 16.6666 20 21.145 20 26.6666C20 32.1883 24.4783 36.6666 30 36.6666C35.5217 36.6666 40 32.1883 40 26.6666C40 21.145 35.5217 16.6666 30 16.6666ZM30.8333 30.79V31.6666H30V30.835C29.1367 30.82 28.245 30.615 27.5 30.23L27.88 28.86C28.6767 29.17 29.7367 29.4983 30.5667 29.31C31.5233 29.0933 31.72 28.1083 30.6617 27.635C29.8867 27.2733 27.5133 26.965 27.5133 24.9316C27.5133 23.7966 28.38 22.7783 30 22.5566V21.6666H30.8333V22.515C31.4367 22.5316 32.1133 22.6366 32.8683 22.865L32.5667 24.2383C31.9267 24.0133 31.22 23.81 30.53 23.8516C29.29 23.9233 29.18 24.9983 30.0467 25.4483C31.4733 26.1183 33.3333 26.615 33.3333 28.4033C33.335 29.8333 32.2133 30.595 30.8333 30.79ZM17.6483 21.6666H13.3333V18.3333H19.6083C18.8017 19.3366 18.14 20.4566 17.6483 21.6666ZM16.6667 26.6666H13.3333V23.3333H17.1067C16.83 24.4016 16.6667 25.515 16.6667 26.6666ZM21.2117 16.6666H13.3333V13.3333H25V14.315C23.6017 14.8833 22.3267 15.685 21.2117 16.6666ZM25 6.66665H13.3333V3.33331H25V6.66665ZM25 11.6666H13.3333V8.33331H25V11.6666ZM17.6483 31.6666H13.3333V28.3333H16.7817C16.9283 29.4966 17.2217 30.615 17.6483 31.6666ZM0 13.3333H11.6667V16.6666H0V13.3333ZM0 18.3333H11.6667V21.6666H0V18.3333ZM21.2117 36.6666H13.3333V33.3333H18.47C19.2 34.5883 20.1267 35.7133 21.2117 36.6666ZM0 28.3333H11.6667V31.6666H0V28.3333ZM0 33.3333H11.6667V36.6666H0V33.3333ZM0 23.3333H11.6667V26.6666H0V23.3333Z"
                  fill="#304F65"
                />
              </svg>
              Fast Bids
            </h3>
            <p>
              Instant bidding can be done in within 60 seconds. No question of
              waiting arise . Receive obligation free quote from our
              freelancers.
            </p>
          </div>
        </div>
        <div class="w3-col l3 m6 s12">
          <div
            class="w3-padding-large w3-border w3-margin-bottom"
            style="border: 1px solid black; height: 200px; border-radius: 10px"
          >
            <h3>
              <svg
                width="20"
                height="20"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0)">
                  <path
                    d="M26.5167 22.2333L30.91 15.5233L30.1533 14.8467L24.0317 20.0117C22.9067 19.7817 21.695 20.125 20.875 21.0417C19.6483 22.4133 19.7667 24.5217 21.14 25.7483C22.5133 26.975 24.62 26.8567 25.8467 25.4833C26.6667 24.5667 26.8717 23.325 26.5167 22.2333ZM20 4.49V0H26.6667V4.49C24.2683 4.085 22.3467 4.09333 20 4.49ZM34.7517 7.93L37.0967 5.585L39.4533 7.94167L37.2517 10.1433C36.4817 9.33667 35.645 8.59833 34.7517 7.93ZM3.33333 15H16.6667V18.3333H3.33333V15ZM0 21.6667H13.3333V25H0V21.6667ZM5 28.3333H16.6667V31.6667H5V28.3333ZM40 23.3333C40 32.5383 32.5383 40 23.3333 40C18.6833 40 14.5 38.075 11.4817 35H16.9483C18.845 36.0517 21.0133 36.6667 23.3333 36.6667C30.685 36.6667 36.6667 30.685 36.6667 23.3333C36.6667 15.9817 30.685 10 23.3333 10C21.0133 10 18.845 10.615 16.9483 11.6667H11.4817C14.5 8.59167 18.6833 6.66667 23.3333 6.66667C32.5383 6.66667 40 14.1283 40 23.3333Z"
                    fill="#304F65"
                  />
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect width="40" height="40" fill="white" />
                  </clipPath>
                </defs>
              </svg>

              Track Progress
            </h3>

            <p>
              Keep up-to-date and on-the-go with our time tracker, and mobile
              app. Always know what freelancers are up to.
            </p>
          </div>
        </div>
        <div class="w3-col l3 m6 s12">
          <div
            class="w3-padding-large w3-border w3-margin-bottom"
            style="border: 1px solid black; height: 200px; border-radius: 10px"
          >
            <h3>
              <svg
                width="20"
                height="20"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M37.2517 20L40 16.5267L36.2133 14.1883L37.5883 10L33.215 9.07833L33.0517 4.67833L28.6267 5.285L26.945 1.205L22.995 3.26667L20 0L17.005 3.26833L13.055 1.20667L11.3733 5.285L6.94833 4.68L6.785 9.08L2.41167 10L3.78667 14.1883L0 16.5267L2.74833 20L0 23.4733L3.78667 25.8117L2.41167 30L6.785 30.9217L6.94833 35.3217L11.3733 34.715L13.055 38.795L17.005 36.7333L20 40L22.995 36.7333L26.945 38.795L28.6267 34.715L33.0517 35.3217L33.215 30.9217L37.5883 30L36.2133 25.8117L40 23.4733L37.2517 20ZM27.18 19.6567C27.8767 19.75 28.23 20.2033 28.23 20.6733C28.23 21.2117 27.7683 21.7733 26.8233 21.8483C26.2433 21.8933 26.1 22.3683 26.7967 22.525C27.3817 22.6583 27.7117 23.0683 27.7117 23.51C27.7117 24.0333 27.2467 24.6 26.19 24.795C25.5517 24.9117 25.4883 25.5367 26.1633 25.59C26.7367 25.6333 26.9617 25.8333 26.9617 26.11C26.9617 26.8867 25.585 28.3317 22.9183 28.3317C18.75 28.3333 17.24 25.8333 11.6667 25.8333V17.56C14.61 17.1083 17.4733 16.1983 18.9067 11.2233C19.305 9.83833 19.5567 8.33333 20.885 8.33333C22.865 8.33333 23.0467 12.6033 22.2917 15.6517C23.385 16.225 25.4167 16.4317 26.44 16.3883C27.9167 16.3283 28.3333 17.07 28.3333 17.63C28.3333 18.4717 27.64 18.755 27.205 18.8883C26.6983 19.045 26.465 19.5617 27.18 19.6567Z"
                  fill="#304F65"
                />
              </svg>

              Quality Progress
            </h3>
            <p>
              Our Freelancers are really good at what they’re doing . You can
              happily leave it to them with no worries
            </p>
          </div>
        </div>

        <div class="w3-col l3 m6 s12">
          <div
            class="w3-padding-large w3-border w3-margin-bottom"
            style="border: 1px solid black; height: 200px; border-radius: 10px"
          >
            <h3>
              <svg
                width="20"
                height="20"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M37.2517 20L40 16.5267L36.2133 14.1883L37.5883 10L33.215 9.07833L33.0517 4.67833L28.6267 5.285L26.945 1.205L22.995 3.26667L20 0L17.005 3.26833L13.055 1.20667L11.3733 5.285L6.94833 4.68L6.785 9.08L2.41167 10L3.78667 14.1883L0 16.5267L2.74833 20L0 23.4733L3.78667 25.8117L2.41167 30L6.785 30.9217L6.94833 35.3217L11.3733 34.715L13.055 38.795L17.005 36.7333L20 40L22.995 36.7333L26.945 38.795L28.6267 34.715L33.0517 35.3217L33.215 30.9217L37.5883 30L36.2133 25.8117L40 23.4733L37.2517 20ZM27.18 19.6567C27.8767 19.75 28.23 20.2033 28.23 20.6733C28.23 21.2117 27.7683 21.7733 26.8233 21.8483C26.2433 21.8933 26.1 22.3683 26.7967 22.525C27.3817 22.6583 27.7117 23.0683 27.7117 23.51C27.7117 24.0333 27.2467 24.6 26.19 24.795C25.5517 24.9117 25.4883 25.5367 26.1633 25.59C26.7367 25.6333 26.9617 25.8333 26.9617 26.11C26.9617 26.8867 25.585 28.3317 22.9183 28.3317C18.75 28.3333 17.24 25.8333 11.6667 25.8333V17.56C14.61 17.1083 17.4733 16.1983 18.9067 11.2233C19.305 9.83833 19.5567 8.33333 20.885 8.33333C22.865 8.33333 23.0467 12.6033 22.2917 15.6517C23.385 16.225 25.4167 16.4317 26.44 16.3883C27.9167 16.3283 28.3333 17.07 28.3333 17.63C28.3333 18.4717 27.64 18.755 27.205 18.8883C26.6983 19.045 26.465 19.5617 27.18 19.6567Z"
                  fill="#304F65"
                />
              </svg>

              Quality Progress
            </h3>
            <p>
              Our Freelancers are really good at what they’re doing . You can
              happily leave it to them with no worries
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="demo_works w3-padding-48 w3-margin">
      <h2 class="w3-margin-bottom">Turn yours dream into reality</h2>
      <div class="w3-row-padding">
        <div class="w3-col l3 m6 s6 w3-padding-24">
          <div class="content">
            <div class="imgsection" style="max-width: 289px; height: 192px">
              <img
                src="./webdesignimg1.jpg"
                style="width: 100%; height: 100%"
                alt=""
              />
            </div>
            <h6
              class="w3-padding-small"
              style="font-weight: bold; color: #304f65"
            >
              Website Design <br />
              $280 in 2 Days
            </h6>
          </div>
        </div>
        <div class="w3-col l3 m6 s6 w3-padding-24">
          <div class="content">
            <div class="imgsection" style="max-width: 289px; height: 192px">
              <img
                src="./appdevimg1.jpg"
                style="width: 100%; height: 100%"
                alt=""
              />
            </div>
            <h6
              class="w3-padding-small"
              style="font-weight: bold; color: #304f65"
            >
              Website Design <br />
              $280 in 2 Days
            </h6>
          </div>
        </div>
        <div class="w3-col l3 m6 s6 w3-padding-24">
          <div class="content">
            <div class="imgsection" style="max-width: 289px; height: 192px">
              <img
                src="./logodesignimg1.jpg"
                style="width: 100%; height: 100%"
                alt=""
              />
            </div>
            <h6
              class="w3-padding-small"
              style="font-weight: bold; color: #304f65"
            >
              Website Design <br />
              $280 in 2 Days
            </h6>
          </div>
        </div>

        <div class="w3-col l3 m6 s6 w3-padding-24">
          <div class="content">
            <div class="imgsection" style="max-width: 289px; height: 192px">
              <img
                src="./gamedesign.png"
                style="width: 100%; height: 100%"
                alt=""
              />
            </div>
            <h6
              class="w3-padding-small"
              style="font-weight: bold; color: #304f65"
            >
              Website Design <br />
              $280 in 2 Days
            </h6>
          </div>
        </div>
      </div>
      <div class="w3-row-padding">
        <div class="w3-col l3 m6 s6 w3-padding-24">
          <div class="content">
            <div class="imgsection" style="max-width: 289px; height: 192px">
              <img
                src="./mobiledesignimg1.png"
                style="width: 100%; height: 100%"
                alt=""
              />
            </div>
            <h6
              class="w3-padding-small"
              style="font-weight: bold; color: #304f65"
            >
              Website Design <br />
              $280 in 2 Days
            </h6>
          </div>
        </div>
        <div class="w3-col l3 m6 s6 w3-padding-24">
          <div class="content">
            <div class="imgsection" style="max-width: 289px; height: 192px">
              <img
                src="./graphicdesignimg1.png"
                style="width: 100%; height: 100%"
                alt=""
              />
            </div>
            <h6
              class="w3-padding-small"
              style="font-weight: bold; color: #304f65"
            >
              Website Design <br />
              $280 in 2 Days
            </h6>
          </div>
        </div>
        <div class="w3-col l3 m6 s6 w3-padding-24">
          <div class="content">
            <div class="imgsection" style="max-width: 289px; height: 192px">
              <img
                src="./webdesignimg1.jpg"
                style="width: 100%; height: 100%"
                alt=""
              />
            </div>
            <h6
              class="w3-padding-small"
              style="font-weight: bold; color: #304f65"
            >
              Website Design <br />
              $280 in 2 Days
            </h6>
          </div>
        </div>

        <div class="w3-col l3 m6 s6 w3-padding-24">
          <div class="content">
            <div class="imgsection" style="max-width: 289px; height: 192px">
              <img
                src="./drawingimg.png"
                style="width: 100%; height: 100%"
                alt=""
              />
            </div>
            <h6
              class="w3-padding-small"
              style="font-weight: bold; color: #304f65"
            >
              Website Design <br />
              $280 in 2 Days
            </h6>
          </div>
        </div>
      </div>
      <div class="w3-row-padding">
        <div class="w3-col l3 m6 s6 w3-padding-24">
          <div class="content">
            <div class="imgsection" style="max-width: 289px; height: 192px">
              <img
                src="./appdevimg1.jpg"
                style="width: 100%; height: 100%"
                alt=""
              />
            </div>
            <h6
              class="w3-padding-small"
              style="font-weight: bold; color: #304f65"
            >
              Website Design <br />
              $280 in 2 Days
            </h6>
          </div>
        </div>
        <div class="w3-col l3 m6 s6 w3-padding-24">
          <div class="content">
            <div class="imgsection" style="max-width: 289px; height: 192px">
              <img
                src="./3ddesign.png"
                style="width: 100%; height: 100%"
                alt=""
              />
            </div>
            <h6
              class="w3-padding-small"
              style="font-weight: bold; color: #304f65"
            >
              Website Design <br />
              $280 in 2 Days
            </h6>
          </div>
        </div>
        <div class="w3-col l3 m6 s6 w3-padding-24">
          <div class="content">
            <div class="imgsection" style="max-width: 289px; height: 192px">
              <img
                src="./webdesignimg2.png"
                style="width: 100%; height: 100%"
                alt=""
              />
            </div>
            <h6
              class="w3-padding-small"
              style="font-weight: bold; color: #304f65"
            >
              Website Design <br />
              $280 in 2 Days
            </h6>
          </div>
        </div>

        <div class="w3-col l3 m6 s6 w3-padding-24">
          <div class="content">
            <div class="imgsection" style="max-width: 289px; height: 192px">
              <img src="./art.png" style="width: 100%; height: 100%" alt="" />
            </div>
            <h6
              class="w3-padding-small"
              style="font-weight: bold; color: #304f65"
            >
              Website Design <br />
              $280 in 2 Days
            </h6>
          </div>
        </div>
      </div>
    </div>
    <div
      class="great_about_us"
      style="
        background-color: #eeeeeed0;
        margin-bottom: -60px;
        padding-bottom: 80px;
      "
    >
      <svg
        width="1439"
        height="186"
        viewBox="0 0 1439 186"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M764.532 153.633C1014.71 85.5951 1279.1 95.6519 1439 153.633V0L-2 0V80.6571V161.314C-2 161.314 514.358 221.67 764.532 153.633Z"
          fill="white"
        />
      </svg>

      <div class="w3-row-padding">
        <div class="w3-half">
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              margin-top: 40px;
            "
          >
            <h2 style="font-weight: bold; color: #00528c">
              What's so great<br />
              about us
            </h2>
            <ul
              style="
                color: #00528c;
                font-weight: bold;
                font-size: 16px;
                margin-left: 25px;
                line-height: 30px;
              "
            >
              <li>Browse Portfolios</li>
              <li>
                Choose Freelancers Based <br />
                on the Reviews Given to <br />
                them
              </li>
              <li>Secure Payment Mode</li>
              <li>Time to time track progress</li>
            </ul>
          </div>
        </div>
        <div class="w3-half">
          <svg
            width="500"
            height="300"
            viewBox="0 0 649 414"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0)">
              <path
                d="M412.538 129.423C413.759 116.117 417.134 103.105 422.527 90.9054C424.03 87.5104 425.684 84.1901 427.49 80.9446C427.58 80.7749 427.602 80.5762 427.551 80.3905C427.499 80.2048 427.378 80.0466 427.214 79.9493C427.049 79.852 426.853 79.8231 426.668 79.8689C426.483 79.9146 426.322 80.0313 426.22 80.1944C419.654 92.0153 415.054 104.847 412.604 118.177C411.923 121.899 411.41 125.648 411.067 129.423C410.98 130.375 412.451 130.369 412.538 129.423V129.423Z"
                fill="#E6E6E6"
              />
              <path
                d="M431.051 83.3288C436.193 83.3288 440.361 79.1138 440.361 73.9144C440.361 68.715 436.193 64.5 431.051 64.5C425.908 64.5 421.74 68.715 421.74 73.9144C421.74 79.1138 425.908 83.3288 431.051 83.3288Z"
                fill="#E6E6E6"
              />
              <path
                d="M413.49 129.673C414.283 121.041 416.472 112.599 419.971 104.685C420.946 102.482 422.019 100.328 423.19 98.2228C423.249 98.1127 423.263 97.9838 423.23 97.8634C423.196 97.7429 423.118 97.6403 423.011 97.5772C422.904 97.514 422.777 97.4953 422.657 97.525C422.537 97.5546 422.433 97.6303 422.367 97.7361C418.107 105.405 415.123 113.729 413.533 122.377C413.091 124.792 412.759 127.224 412.536 129.673C412.48 130.29 413.434 130.287 413.49 129.673V129.673Z"
                fill="#E6E6E6"
              />
              <path
                d="M425.5 99.7693C428.836 99.7693 431.541 97.0349 431.541 93.6618C431.541 90.2886 428.836 87.5542 425.5 87.5542C422.164 87.5542 419.46 90.2886 419.46 93.6618C419.46 97.0349 422.164 99.7693 425.5 99.7693Z"
                fill="#E6E6E6"
              />
              <path
                d="M412.286 129.096C407.66 121.797 404.252 113.779 402.196 105.363C401.625 103.02 401.161 100.654 400.804 98.2659C400.783 98.1425 400.716 98.032 400.616 97.9578C400.517 97.8836 400.392 97.8514 400.27 97.8681C400.147 97.8847 400.036 97.9489 399.959 98.0471C399.882 98.1452 399.846 98.2697 399.858 98.3942C401.164 107.09 403.875 115.51 407.882 123.317C409.003 125.496 410.22 127.62 411.534 129.689C411.865 130.211 412.615 129.615 412.286 129.096Z"
                fill="#E6E6E6"
              />
              <path
                d="M399.851 99.3406C403.187 99.3406 405.891 96.6062 405.891 93.233C405.891 89.8599 403.187 87.1255 399.851 87.1255C396.515 87.1255 393.81 89.8599 393.81 93.233C393.81 96.6062 396.515 99.3406 399.851 99.3406Z"
                fill="#E6E6E6"
              />
              <path
                d="M393.743 134.5V122.5C393.744 121.307 394.213 120.163 395.048 119.319C395.882 118.476 397.013 118.001 398.193 118H425.885C427.065 118.001 428.196 118.476 429.031 119.319C429.865 120.163 430.334 121.307 430.336 122.5V134.5C430.334 135.693 429.865 136.837 429.031 137.68C428.196 138.524 427.065 138.999 425.885 139H398.193C397.013 138.999 395.882 138.524 395.048 137.68C394.213 136.837 393.744 135.693 393.743 134.5Z"
                fill="#F2F2F2"
              />
              <path
                d="M424.896 58H413.028C411.848 57.9987 410.717 57.5241 409.883 56.6805C409.048 55.8369 408.579 54.6931 408.578 53.5V4.5C408.579 3.30694 409.048 2.16314 409.883 1.31952C410.717 0.475897 411.848 0.00134456 413.028 0H424.896C426.076 0.00134456 427.207 0.475897 428.042 1.31952C428.876 2.16314 429.345 3.30694 429.347 4.5V53.5C429.345 54.6931 428.876 55.8369 428.042 56.6805C427.207 57.5241 426.076 57.9987 424.896 58V58Z"
                fill="#F2F2F2"
              />
              <path d="M428.852 9.5H409.072V13.5H428.852V9.5Z" fill="#CCCCCC" />
              <path
                d="M428.852 40.5H409.072V44.5H428.852V40.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M454.566 58H442.698C441.518 57.9987 440.387 57.5241 439.553 56.6805C438.718 55.8369 438.249 54.6931 438.248 53.5V4.5C438.249 3.30694 438.718 2.16314 439.553 1.31952C440.387 0.475897 441.518 0.00134456 442.698 0H454.566C455.746 0.00134456 456.877 0.475897 457.712 1.31952C458.546 2.16314 459.015 3.30694 459.017 4.5V53.5C459.015 54.6931 458.546 55.8369 457.712 56.6805C456.877 57.5241 455.746 57.9987 454.566 58V58Z"
                fill="#F2F2F2"
              />
              <path d="M458.522 9.5H438.742V13.5H458.522V9.5Z" fill="#CCCCCC" />
              <path
                d="M458.522 40.5H438.742V44.5H458.522V40.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M484.236 58H472.368C471.188 57.9987 470.057 57.5241 469.223 56.6805C468.388 55.8369 467.919 54.6931 467.918 53.5V4.5C467.919 3.30694 468.388 2.16314 469.223 1.31952C470.057 0.475897 471.188 0.00134456 472.368 0H484.236C485.416 0.00134456 486.548 0.475897 487.382 1.31952C488.216 2.16314 488.686 3.30694 488.687 4.5V53.5C488.686 54.6931 488.216 55.8369 487.382 56.6805C486.548 57.5241 485.416 57.9987 484.236 58V58Z"
                fill="#F2F2F2"
              />
              <path d="M488.192 9.5H468.412V13.5H488.192V9.5Z" fill="#CCCCCC" />
              <path
                d="M488.192 40.5H468.412V44.5H488.192V40.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M500.06 139H488.192C487.012 138.999 485.881 138.524 485.047 137.68C484.213 136.837 483.743 135.693 483.742 134.5V85.5C483.743 84.3069 484.213 83.1631 485.047 82.3195C485.881 81.4759 487.012 81.0013 488.192 81H500.06C501.24 81.0013 502.372 81.4759 503.206 82.3195C504.04 83.1631 504.51 84.3069 504.511 85.5V134.5C504.51 135.693 504.04 136.837 503.206 137.68C502.372 138.524 501.24 138.999 500.06 139V139Z"
                fill="#F2F2F2"
              />
              <path
                d="M504.016 90.5H484.236V94.5H504.016V90.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M504.016 121.5H484.236V125.5H504.016V121.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M529.731 139H517.863C516.683 138.999 515.551 138.524 514.717 137.68C513.883 136.837 513.413 135.693 513.412 134.5V85.5C513.413 84.3069 513.883 83.1631 514.717 82.3195C515.551 81.4759 516.683 81.0013 517.863 81H529.731C530.911 81.0013 532.042 81.4759 532.876 82.3195C533.71 83.1631 534.18 84.3069 534.181 85.5V134.5C534.18 135.693 533.71 136.837 532.876 137.68C532.042 138.524 530.911 138.999 529.731 139Z"
                fill="#F2F2F2"
              />
              <path
                d="M533.687 90.5H513.906V94.5H533.687V90.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M533.687 121.5H513.906V125.5H533.687V121.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M559.401 139H547.533C546.353 138.999 545.221 138.524 544.387 137.68C543.553 136.837 543.083 135.693 543.082 134.5V85.5C543.083 84.3069 543.553 83.1631 544.387 82.3195C545.221 81.4759 546.353 81.0013 547.533 81H559.401C560.581 81.0013 561.712 81.4759 562.546 82.3195C563.381 83.1631 563.85 84.3069 563.851 85.5V134.5C563.85 135.693 563.381 136.837 562.546 137.68C561.712 138.524 560.581 138.999 559.401 139V139Z"
                fill="#F2F2F2"
              />
              <path
                d="M563.357 90.5H543.577V94.5H563.357V90.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M563.357 121.5H543.577V125.5H563.357V121.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M421.929 220H410.061C408.881 219.999 407.75 219.524 406.916 218.68C406.081 217.837 405.612 216.693 405.611 215.5V166.5C405.612 165.307 406.081 164.163 406.916 163.319C407.75 162.476 408.881 162.001 410.061 162H421.929C423.109 162.001 424.24 162.476 425.075 163.319C425.909 164.163 426.378 165.307 426.38 166.5V215.5C426.378 216.693 425.909 217.837 425.075 218.68C424.24 219.524 423.109 219.999 421.929 220Z"
                fill="#F2F2F2"
              />
              <path
                d="M425.885 171.5H406.105V175.5H425.885V171.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M425.885 202.5H406.105V206.5H425.885V202.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M451.599 220H439.731C438.551 219.999 437.42 219.524 436.586 218.68C435.751 217.837 435.282 216.693 435.281 215.5V166.5C435.282 165.307 435.751 164.163 436.586 163.319C437.42 162.476 438.551 162.001 439.731 162H451.599C452.779 162.001 453.91 162.476 454.745 163.319C455.579 164.163 456.048 165.307 456.05 166.5V215.5C456.048 216.693 455.579 217.837 454.745 218.68C453.91 219.524 452.779 219.999 451.599 220Z"
                fill="#F2F2F2"
              />
              <path
                d="M455.555 171.5H435.775V175.5H455.555V171.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M455.555 202.5H435.775V206.5H455.555V202.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M481.269 220H469.401C468.221 219.999 467.09 219.524 466.256 218.68C465.421 217.837 464.952 216.693 464.951 215.5V166.5C464.952 165.307 465.421 164.163 466.256 163.319C467.09 162.476 468.221 162.001 469.401 162H481.269C482.449 162.001 483.581 162.476 484.415 163.319C485.249 164.163 485.719 165.307 485.72 166.5V215.5C485.719 216.693 485.249 217.837 484.415 218.68C483.581 219.524 482.449 219.999 481.269 220V220Z"
                fill="#F2F2F2"
              />
              <path
                d="M485.225 171.5H465.445V175.5H485.225V171.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M485.225 202.5H465.445V206.5H485.225V202.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M513.906 58H502.038C500.859 57.9987 499.727 57.5241 498.893 56.6805C498.059 55.8369 497.589 54.6931 497.588 53.5V4.5C497.589 3.30694 498.059 2.16314 498.893 1.31952C499.727 0.475897 500.859 0.00134456 502.038 0H513.906C515.086 0.00134456 516.218 0.475897 517.052 1.31952C517.886 2.16314 518.356 3.30694 518.357 4.5V53.5C518.356 54.6931 517.886 55.8369 517.052 56.6805C516.218 57.5241 515.086 57.9987 513.906 58V58Z"
                fill="#F2F2F2"
              />
              <path d="M517.862 9.5H498.082V13.5H517.862V9.5Z" fill="#CCCCCC" />
              <path
                d="M517.862 40.5H498.082V44.5H517.862V40.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M543.577 58H531.709C530.529 57.9987 529.397 57.5241 528.563 56.6805C527.729 55.8369 527.259 54.6931 527.258 53.5V4.5C527.259 3.30694 527.729 2.16314 528.563 1.31952C529.397 0.475897 530.529 0.00134456 531.709 0H543.577C544.757 0.00134456 545.888 0.475897 546.722 1.31952C547.556 2.16314 548.026 3.30694 548.027 4.5V53.5C548.026 54.6931 547.556 55.8369 546.722 56.6805C545.888 57.5241 544.757 57.9987 543.577 58V58Z"
                fill="#F2F2F2"
              />
              <path d="M547.533 9.5H527.753V13.5H547.533V9.5Z" fill="#CCCCCC" />
              <path
                d="M547.533 40.5H527.753V44.5H547.533V40.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M573.247 58H561.379C560.199 57.9987 559.067 57.5241 558.233 56.6805C557.399 55.8369 556.929 54.6931 556.928 53.5V4.5C556.929 3.30694 557.399 2.16314 558.233 1.31952C559.067 0.475897 560.199 0.00134456 561.379 0H573.247C574.427 0.00134456 575.558 0.475897 576.392 1.31952C577.227 2.16314 577.696 3.30694 577.697 4.5V53.5C577.696 54.6931 577.227 55.8369 576.392 56.6805C575.558 57.5241 574.427 57.9987 573.247 58V58Z"
                fill="#F2F2F2"
              />
              <path d="M577.203 9.5H557.423V13.5H577.203V9.5Z" fill="#CCCCCC" />
              <path
                d="M577.203 40.5H557.423V44.5H577.203V40.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M602.917 58H591.049C589.869 57.9987 588.738 57.5241 587.903 56.6805C587.069 55.8369 586.6 54.6931 586.598 53.5V4.5C586.6 3.30694 587.069 2.16314 587.903 1.31952C588.738 0.475897 589.869 0.00134456 591.049 0H602.917C604.097 0.00134456 605.228 0.475897 606.062 1.31952C606.897 2.16314 607.366 3.30694 607.367 4.5V53.5C607.366 54.6931 606.897 55.8369 606.062 56.6805C605.228 57.5241 604.097 57.9987 602.917 58V58Z"
                fill="#F2F2F2"
              />
              <path d="M606.873 9.5H587.093V13.5H606.873V9.5Z" fill="#CCCCCC" />
              <path
                d="M606.873 40.5H587.093V44.5H606.873V40.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M647.364 59.5H365.498C365.235 59.5 364.984 59.3946 364.798 59.2071C364.613 59.0196 364.509 58.7652 364.509 58.5C364.509 58.2348 364.613 57.9804 364.798 57.7929C364.984 57.6053 365.235 57.5 365.498 57.5H647.364C647.626 57.5 647.877 57.6053 648.063 57.7929C648.248 57.9804 648.353 58.2348 648.353 58.5C648.353 58.7652 648.248 59.0196 648.063 59.2071C647.877 59.3946 647.626 59.5 647.364 59.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M647.364 140.5H365.498C365.235 140.5 364.984 140.395 364.798 140.207C364.613 140.02 364.509 139.765 364.509 139.5C364.509 139.235 364.613 138.98 364.798 138.793C364.984 138.605 365.235 138.5 365.498 138.5H647.364C647.626 138.5 647.877 138.605 648.063 138.793C648.248 138.98 648.353 139.235 648.353 139.5C648.353 139.765 648.248 140.02 648.063 140.207C647.877 140.395 647.626 140.5 647.364 140.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M647.364 221.5H365.498C365.235 221.5 364.984 221.395 364.798 221.207C364.613 221.02 364.509 220.765 364.509 220.5C364.509 220.235 364.613 219.98 364.798 219.793C364.984 219.605 365.235 219.5 365.498 219.5H647.364C647.626 219.5 647.877 219.605 648.063 219.793C648.248 219.98 648.353 220.235 648.353 220.5C648.353 220.765 648.248 221.02 648.063 221.207C647.877 221.395 647.626 221.5 647.364 221.5Z"
                fill="#CCCCCC"
              />
              <path
                d="M575.723 210.423C576.945 197.117 580.32 184.105 585.713 171.905C587.216 168.51 588.87 165.19 590.675 161.945C590.766 161.775 590.788 161.576 590.736 161.391C590.685 161.205 590.564 161.047 590.399 160.949C590.235 160.852 590.039 160.823 589.854 160.869C589.668 160.915 589.508 161.031 589.406 161.194C582.84 173.015 578.24 185.847 575.79 199.177C575.108 202.899 574.596 206.648 574.253 210.423C574.166 211.375 575.636 211.369 575.723 210.423V210.423Z"
                fill="#E6E6E6"
              />
              <path
                d="M594.236 164.329C599.378 164.329 603.547 160.114 603.547 154.914C603.547 149.715 599.378 145.5 594.236 145.5C589.094 145.5 584.925 149.715 584.925 154.914C584.925 160.114 589.094 164.329 594.236 164.329Z"
                fill="#E6E6E6"
              />
              <path
                d="M576.675 210.673C577.468 202.041 579.657 193.599 583.156 185.685C584.131 183.482 585.204 181.328 586.376 179.223C586.435 179.113 586.449 178.984 586.415 178.863C586.382 178.743 586.303 178.64 586.197 178.577C586.09 178.514 585.963 178.495 585.843 178.525C585.722 178.555 585.618 178.63 585.552 178.736C581.292 186.405 578.308 194.729 576.719 203.377C576.276 205.792 575.944 208.224 575.722 210.673C575.665 211.29 576.619 211.287 576.675 210.673V210.673Z"
                fill="#E6E6E6"
              />
              <path
                d="M588.686 180.769C592.022 180.769 594.726 178.035 594.726 174.662C594.726 171.289 592.022 168.554 588.686 168.554C585.35 168.554 582.645 171.289 582.645 174.662C582.645 178.035 585.35 180.769 588.686 180.769Z"
                fill="#E6E6E6"
              />
              <path
                d="M575.472 210.096C570.846 202.797 567.437 194.779 565.382 186.363C564.811 184.02 564.347 181.655 563.989 179.266C563.969 179.142 563.901 179.032 563.802 178.958C563.702 178.884 563.578 178.851 563.455 178.868C563.333 178.885 563.221 178.949 563.144 179.047C563.068 179.145 563.032 179.27 563.044 179.394C564.35 188.09 567.061 196.51 571.068 204.317C572.188 206.496 573.405 208.62 574.72 210.689C575.051 211.211 575.801 210.615 575.472 210.096Z"
                fill="#E6E6E6"
              />
              <path
                d="M563.036 180.341C566.372 180.341 569.077 177.606 569.077 174.233C569.077 170.86 566.372 168.125 563.036 168.125C559.7 168.125 556.996 170.86 556.996 174.233C556.996 177.606 559.7 180.341 563.036 180.341Z"
                fill="#E6E6E6"
              />
              <path
                d="M556.928 215.5V203.5C556.929 202.307 557.399 201.163 558.233 200.319C559.067 199.476 560.199 199.001 561.379 199H589.071C590.251 199.001 591.382 199.476 592.216 200.319C593.051 201.163 593.52 202.307 593.521 203.5V215.5C593.52 216.693 593.051 217.837 592.216 218.68C591.382 219.524 590.251 219.999 589.071 220H561.379C560.199 219.999 559.067 219.524 558.233 218.68C557.399 217.837 556.929 216.693 556.928 215.5Z"
                fill="#F2F2F2"
              />
              <path
                d="M378.355 363.5H1.5443C1.282 363.5 1.03046 363.395 0.844985 363.207C0.65951 363.02 0.555298 362.765 0.555298 362.5C0.555298 362.235 0.65951 361.98 0.844985 361.793C1.03046 361.605 1.282 361.5 1.5443 361.5H378.355C378.617 361.5 378.868 361.605 379.054 361.793C379.239 361.98 379.344 362.235 379.344 362.5C379.344 362.765 379.239 363.02 379.054 363.207C378.868 363.395 378.617 363.5 378.355 363.5Z"
                fill="#3F3D56"
              />
              <path
                d="M197.425 232.5C212.173 232.5 224.128 220.412 224.128 205.5C224.128 190.588 212.173 178.5 197.425 178.5C182.678 178.5 170.722 190.588 170.722 205.5C170.722 220.412 182.678 232.5 197.425 232.5Z"
                fill="#2F2E41"
              />
              <path
                d="M172.053 378.826L171.346 366.588L217.697 358.003L218.741 376.067L172.053 378.826Z"
                fill="#FFB8B8"
              />
              <path
                d="M174.299 357.641L175.663 381.245L160.965 382.114L158.742 343.649C160.672 343.534 162.605 343.806 164.432 344.447C166.258 345.089 167.942 346.088 169.386 347.387C170.831 348.686 172.008 350.261 172.851 352.02C173.694 353.78 174.186 355.69 174.299 357.641Z"
                fill="#2F2E41"
              />
              <path
                d="M192.213 378.714L184.514 388.185L144.72 362.666L156.083 348.688L192.213 378.714Z"
                fill="#FFB8B8"
              />
              <path
                d="M176.338 392.726L191.186 374.46L202.561 383.913L178.364 413.679C176.87 412.438 175.633 410.911 174.723 409.186C173.812 407.462 173.247 405.572 173.059 403.627C172.871 401.681 173.064 399.717 173.626 397.847C174.189 395.976 175.111 394.236 176.338 392.726V392.726Z"
                fill="#2F2E41"
              />
              <path
                d="M170.057 334.67L164.796 359.749C164.675 360.326 164.682 360.924 164.816 361.498C164.95 362.073 165.208 362.61 165.572 363.072C165.936 363.533 166.396 363.908 166.92 364.168C167.444 364.429 168.018 364.569 168.602 364.578L220.325 365.422C220.908 365.431 221.486 365.31 222.017 365.068C222.549 364.825 223.02 364.467 223.399 364.018C223.777 363.569 224.053 363.042 224.206 362.473C224.359 361.904 224.386 361.308 224.284 360.727L219.76 334.805C219.599 333.879 219.12 333.04 218.407 332.436C217.695 331.831 216.794 331.5 215.864 331.5H173.927C173.021 331.5 172.141 331.815 171.437 332.392C170.732 332.969 170.245 333.773 170.057 334.67V334.67Z"
                fill="#2F2E41"
              />
              <path
                d="M178.634 343.5C178.634 343.5 128.195 311.5 118.305 328.5C113.36 337 115.833 345.25 119.541 351.375C122.983 356.952 127.924 361.423 133.785 364.266L174.678 384.5L189.513 368.5L179.623 359.5L178.634 343.5Z"
                fill="#2F2E41"
              />
              <path
                d="M204.348 338.5C204.348 338.5 269.623 319.5 256.766 355.5C243.909 391.5 195.447 377.5 195.447 377.5L190.502 362.5L207.315 350.5L204.348 338.5Z"
                fill="#2F2E41"
              />
              <path
                d="M197.76 236.227C211.176 236.227 222.051 225.23 222.051 211.666C222.051 198.101 211.176 187.104 197.76 187.104C184.345 187.104 173.469 198.101 173.469 211.666C173.469 225.23 184.345 236.227 197.76 236.227Z"
                fill="#FFB8B8"
              />
              <path
                d="M199.033 342.469C188.939 342.314 178.897 340.977 169.109 338.482L168.819 338.402L155.265 275.357C154.045 269.818 154.874 264.018 157.595 259.054C160.316 254.09 164.741 250.305 170.033 248.414C186.381 242.483 204.199 242.124 220.769 247.39H220.769C226.329 249.201 231.008 253.066 233.875 258.212C236.741 263.358 237.582 269.408 236.232 275.154L221.092 338.35L220.879 338.452C214.587 341.466 206.719 342.469 199.033 342.469Z"
                fill="#CCCCCC"
              />
              <path
                d="M180.825 347.366C181.318 345.983 182.104 344.726 183.129 343.683C184.153 342.64 185.392 341.837 186.757 341.331C188.122 340.824 189.58 340.626 191.029 340.751C192.477 340.876 193.881 341.321 195.141 342.054L221.831 318.629L224.246 337.038L198.531 356.46C197.173 358.519 195.115 360.003 192.747 360.631C190.379 361.258 187.866 360.986 185.683 359.865C183.501 358.744 181.801 356.852 180.905 354.549C180.01 352.245 179.982 349.69 180.825 347.366V347.366Z"
                fill="#FFB8B8"
              />
              <path
                d="M206.28 352.476C205.846 352.475 205.414 352.411 204.998 352.285C204.323 352.086 203.704 351.727 203.194 351.237C202.685 350.747 202.299 350.141 202.068 349.469L198.847 340.24C198.545 339.387 198.507 338.462 198.737 337.587C198.967 336.711 199.454 335.927 200.135 335.338L236.499 313.264L222.164 248.603L222.529 248.514C222.677 248.477 237.364 245.097 243.383 261.324C247.597 272.689 263.194 297.401 262.094 314.101C261.885 317.441 260.568 320.612 258.357 323.103C256.146 325.594 253.169 327.259 249.907 327.828L208.974 351.541C208.203 352.145 207.256 352.474 206.28 352.476Z"
                fill="#CCCCCC"
              />
              <path
                d="M210.359 345.173C209.866 343.79 209.08 342.532 208.055 341.489C207.03 340.447 205.792 339.644 204.427 339.137C203.062 338.631 201.604 338.433 200.155 338.558C198.707 338.683 197.303 339.128 196.042 339.861L169.353 316.436L166.938 334.845L192.653 354.267C194.011 356.326 196.069 357.81 198.437 358.437C200.805 359.065 203.318 358.792 205.501 357.671C207.683 356.55 209.383 354.659 210.278 352.355C211.174 350.052 211.202 347.496 210.359 345.173V345.173Z"
                fill="#FFB8B8"
              />
              <path
                d="M187.582 352.475C186.606 352.474 185.659 352.145 184.888 351.541L140.988 329.828C137.726 329.258 134.749 327.594 132.538 325.103C130.327 322.612 129.01 319.441 128.801 316.1C127.701 299.401 146.265 272.689 150.479 261.324C156.497 245.097 171.184 248.476 171.333 248.514L171.698 248.602L154.396 315.264L193.727 335.338C194.408 335.927 194.895 336.711 195.125 337.587C195.355 338.462 195.317 339.387 195.015 340.24L191.794 349.469C191.563 350.141 191.177 350.747 190.667 351.237C190.158 351.727 189.539 352.086 188.864 352.285C188.448 352.411 188.016 352.475 187.582 352.475V352.475Z"
                fill="#CCCCCC"
              />
              <path
                d="M239.953 362.5H151.931C150.096 362.498 148.336 361.76 147.038 360.447C145.74 359.135 145.01 357.356 145.008 355.5V306.5C145.01 304.644 145.74 302.865 147.038 301.553C148.336 300.24 150.096 299.502 151.931 299.5H239.953C241.788 299.502 243.548 300.24 244.846 301.553C246.143 302.865 246.873 304.644 246.876 306.5V355.5C246.873 357.356 246.143 359.135 244.845 360.447C243.548 361.76 241.788 362.498 239.953 362.5V362.5Z"
                fill="#6C63FF"
              />
              <path
                d="M195.942 337C199.219 337 201.876 334.314 201.876 331C201.876 327.686 199.219 325 195.942 325C192.665 325 190.008 327.686 190.008 331C190.008 334.314 192.665 337 195.942 337Z"
                fill="white"
              />
              <path
                d="M173.226 210.666C171.786 206.973 174.148 202.573 177.652 200.785C181.157 198.996 185.385 199.336 189.133 200.515C192.283 201.506 195.235 203.041 198.308 204.254C201.337 205.611 204.647 206.207 207.954 205.99C211.231 205.616 214.494 203.758 215.835 200.71C217.225 197.552 216.28 193.697 214.139 191.002C211.861 188.396 208.912 186.48 205.622 185.467C198.395 182.892 190.047 182.817 183.337 186.559C176.628 190.302 172.068 198.27 173.455 205.889"
                fill="#2F2E41"
              />
              <path
                d="M32.8586 351.819C34.0805 338.513 37.4552 325.501 42.8481 313.301C44.3511 309.906 46.0054 306.586 47.811 303.341C47.9016 303.171 47.9234 302.972 47.8719 302.787C47.8204 302.601 47.6995 302.443 47.5348 302.345C47.3701 302.248 47.1745 302.219 46.9892 302.265C46.8039 302.311 46.6434 302.427 46.5416 302.59C39.9753 314.411 35.3752 327.243 32.9252 340.573C32.2437 344.295 31.7314 348.044 31.3885 351.819C31.3013 352.771 32.772 352.765 32.8586 351.819V351.819Z"
                fill="#E6E6E6"
              />
              <path
                d="M51.3717 305.724C56.514 305.724 60.6826 301.509 60.6826 296.31C60.6826 291.11 56.514 286.896 51.3717 286.896C46.2294 286.896 42.0608 291.11 42.0608 296.31C42.0608 301.509 46.2294 305.724 51.3717 305.724Z"
                fill="#6C63FF"
              />
              <path
                d="M33.811 352.069C34.6037 343.437 36.793 334.995 40.2916 327.081C41.2667 324.878 42.34 322.724 43.5113 320.619C43.5701 320.509 43.5842 320.38 43.5508 320.259C43.5173 320.139 43.4389 320.036 43.3321 319.973C43.2253 319.91 43.0984 319.891 42.9782 319.921C42.858 319.951 42.7539 320.026 42.6878 320.132C38.428 327.801 35.4437 336.125 33.8542 344.773C33.4121 347.188 33.0798 349.62 32.8573 352.069C32.8008 352.686 33.7549 352.683 33.8111 352.069H33.811Z"
                fill="#E6E6E6"
              />
              <path
                d="M45.8213 322.165C49.1574 322.165 51.8617 319.431 51.8617 316.058C51.8617 312.685 49.1574 309.95 45.8213 309.95C42.4853 309.95 39.7809 312.685 39.7809 316.058C39.7809 319.431 42.4853 322.165 45.8213 322.165Z"
                fill="#6C63FF"
              />
              <path
                d="M32.6073 351.492C27.9816 344.193 24.5728 336.175 22.517 327.759C21.9461 325.416 21.4821 323.051 21.1249 320.662C21.1043 320.539 21.0371 320.428 20.9374 320.354C20.8378 320.28 20.7135 320.247 20.5908 320.264C20.4682 320.281 20.3567 320.345 20.28 320.443C20.2032 320.541 20.1672 320.666 20.1795 320.79C21.4856 329.486 24.1963 337.906 28.2033 345.713C29.3237 347.892 30.541 350.016 31.8553 352.085C32.1864 352.607 32.9363 352.011 32.6073 351.492V351.492Z"
                fill="#E6E6E6"
              />
              <path
                d="M20.1719 321.737C23.5079 321.737 26.2123 319.002 26.2123 315.629C26.2123 312.256 23.5079 309.521 20.1719 309.521C16.8359 309.521 14.1315 312.256 14.1315 315.629C14.1315 319.002 16.8359 321.737 20.1719 321.737Z"
                fill="#6C63FF"
              />
              <path
                d="M14.0637 356.896V344.896C14.065 343.702 14.5343 342.559 15.3687 341.715C16.203 340.871 17.3342 340.397 18.5142 340.396H46.2063C47.3862 340.397 48.5174 340.871 49.3518 341.715C50.1861 342.559 50.6555 343.702 50.6568 344.896V356.896C50.6555 358.089 50.1861 359.232 49.3518 360.076C48.5174 360.92 47.3862 361.394 46.2063 361.396H18.5142C17.3342 361.394 16.203 360.92 15.3687 360.076C14.5343 359.232 14.065 358.089 14.0637 356.896V356.896Z"
                fill="#F2F2F2"
              />
              <path
                d="M311.507 370.9C311.507 377.477 306.234 380.467 299.729 380.467C293.224 380.467 287.951 377.477 287.951 370.9C287.951 364.323 290.568 356.649 299.729 359.296C308.889 355.326 311.507 364.323 311.507 370.9Z"
                fill="#FF6584"
              />
              <path
                d="M299.155 362.377C298.697 362.378 298.255 362.21 297.91 361.904C297.566 361.599 297.344 361.177 297.285 360.718C296.895 357.437 294.745 351.01 293.839 348.399L293.839 348.399C293.748 348.139 293.719 347.861 293.757 347.588C293.795 347.315 293.898 347.056 294.057 346.832C294.209 346.632 294.401 346.467 294.621 346.347C294.84 346.227 295.082 346.156 295.331 346.138C295.58 346.12 295.83 346.155 296.064 346.242C296.299 346.328 296.512 346.464 296.691 346.64C296.851 346.809 296.974 347.01 297.054 347.229C297.134 347.449 297.168 347.683 297.154 347.916C296.977 351.267 299.392 356.681 300.848 359.61C300.985 359.887 301.054 360.192 301.049 360.501C301.044 360.811 300.964 361.114 300.817 361.385C300.67 361.656 300.461 361.887 300.206 362.058C299.951 362.229 299.659 362.335 299.355 362.366C299.288 362.374 299.222 362.377 299.155 362.377V362.377Z"
                fill="#3F3D56"
              />
              <path
                d="M307.87 354.986C311.959 351.602 308.751 344.678 303.634 346.007C302.946 346.173 302.311 346.516 301.791 347.001C298.652 349.999 298.165 357.67 298.165 357.67C298.165 357.67 303.708 358.43 307.87 354.986Z"
                fill="#3F3D56"
              />
            </g>
            <defs>
              <clipPath id="clip0">
                <rect
                  width="647.797"
                  height="413.68"
                  fill="white"
                  transform="translate(0.555298)"
                />
              </clipPath>
            </defs>
          </svg>
        </div>
      </div>
    </div>
    <div></div>
    <svg
      width="1424"
      height="225"
      viewBox="0 0 1424 225"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      style="margin-top: -38px"
    >
      <path
        d="M666.511 39.1542C419.289 121.458 158.017 109.292 0 39.1542V225H1424V29.8619C1424 29.8619 913.733 -43.1492 666.511 39.1542Z"
        fill="white"
      />
    </svg>
    <div class="categories w3-margin">
      <h2>
        Get Work Done In Different <br />
        Categories
      </h2>
      <div class="w3-padding-48 w3-bar">
        <div class="w3-bar-item w3-bar-block w3-margin-left">
          <h6 class="w3-bar-item">Web Design</h6>
          <h6 class="w3-bar-item">Logo Design</h6>
          <h6 class="w3-bar-item">App Development</h6>
          <h6 class="w3-bar-item">Mobile Design</h6>
          <h6 class="w3-bar-item">Artist</h6>
        </div>
        <div class="w3-bar-item w3-bar-block w3-margin-left">
          <h6 class="w3-bar-item">Graphics Design</h6>
          <h6 class="w3-bar-item">HTML</h6>
          <h6 class="w3-bar-item">Java</h6>
          <h6 class="w3-bar-item">Operating System</h6>
          <h6 class="w3-bar-item">Portofolio</h6>
        </div>
        <div class="w3-bar-block w3-bar-item w3-margin-left">
          <h6 class="w3-bar-item">3D Modelling</h6>
          <h6 class="w3-bar-item">Game Development</h6>
          <h6 class="w3-bar-item">Art</h6>
          <h6 class="w3-bar-item">Photoshop</h6>
          <h6 class="w3-bar-item">Wood Polishing</h6>
        </div>
        <div class="w3-bar-block w3-bar-item w3-margin-left">
          <h6 class="w3-bar-item">Drawing</h6>
          <h6 class="w3-bar-item">Animation</h6>
          <h6 class="w3-bar-item">Article Writing</h6>
          <h6 class="w3-bar-item">Photography</h6>
          <h6 class="w3-bar-item">Mobile Cover Making</h6>
        </div>
      </div>
    </div>
    <div style="position: relative" class="w3-padding-48 w3-black">
      <div
        style="display: flex; justify-content: center; align-items: center"
        class="w3-center"
      >
        <div class="w3-bar w3-text-white">
          <span class="w3-bar-item" style="padding: 8px 4px !important"
            >Follow Us On :
          </span>
          <span class="w3-bar-item" style="padding: 8px 4px !important"
            ><i class="fa fa-facebook-official"></i>
          </span>
          <span class="w3-bar-item" style="padding: 8px 4px !important"
            ><i class="fa fa-instagram"></i>
          </span>
          <span class="w3-bar-item" style="padding: 8px 4px !important"
            ><i class="fa fa-twitter"></i>
          </span>
          <span class="w3-bar-item" style="padding: 8px 4px !important"
            ><i class="fa fa-linkedin"></i>
          </span>
          <span class="w3-bar-item" style="padding: 8px 4px !important"
            ><i class="fa fa-pinterest"></i>
          </span>
        </div>
        <div
          style="
            width: 0.4px;
            margin-left: 20px;
            height: 90px;
            background-color: white;
          "
        ></div>
        <div class="w3-bar-block footersection">
          <span class="w3-bar-item" style="padding: 1px 16px !important"
            >About</span
          >
          <a
            href="#"
            class="w3-bar-item"
            style="
              padding: 1px 16px !important;
              color: rgba(151, 151, 151, 0.712);
            "
            >About Us</a
          >
          <a
            href="#"
            class="w3-bar-item"
            style="
              padding: 1px 16px !important;
              color: rgba(187, 187, 187, 0.712);
            "
            >Contact Us</a
          >
          <a
            href="#"
            class="w3-bar-item"
            style="
              padding: 1px 16px !important;
              color: rgba(187, 187, 187, 0.712);
            "
            >Freelance Go</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
