<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <body
    class="w3-padding-48"
    style="
      background: linear-gradient(
        to right,
        hsl(200, 100%, 50%),
        hsl(100, 100%, 50%)
      );
    "
  >
    <div
      class="w3-container w3-padding-64 w3-content"
      style="background-color: #004637; max-width: 500px; color: white"
    >
      <div class="w3-container">Freelance Go : Payment Portal</div>
      <div class="w3-container w3-padding">
        <form action="">
          <p><input type="radio" class="w3-radio" /> Debit/Credit Card</p>
          <p>Card Number : <input type="text" class="w3-input" /></p>
          <div class="w3-row-padding" style="margin: 26px -16px">
            <div class="w3-half">
              Expiry :<input type="text" placeholder="MM/YY" class="w3-input" />
            </div>
            <div class="w3-half">
              Cvv : <input type="text" placeholder="" class="w3-input" />
            </div>
          </div>
          <a
            ><a href="/freelancego/signin" class="w3-button w3-black w3-block"
              >Pay</a
            ></a
          >
        </form>
      </div>
    </div>
  </body>
</html>
