<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="w3-container w3-padding-large w3-content">
      <h1 class=""><strong>Post Your Review</strong></h1>
      <div style="max-width: 800px">
        <form action="/mainfiles/saveReview" method="POST" class="">
          <p>
            <label>ID</label>
            <input
              type="text"
              class="w3-input w3-border"
              name="id"
              required
              value="<%= reviewId%>"
            />
          </p>

          <p>
            Your Name:
            <input
              type="text"
              class="w3-input w3-border"
              name="name"
              required
              value=""
            />
          </p>
          <p>
            Comment <br />
            <textarea
              required
              name="comment"
              class="w3-input w3-border"
              type="textarea"
              rows="2"
              cols="10"
              name="description"
            >
            </textarea>
          </p>
          <p class="w3-bar">
            <button class="w3-button w3-green" type="submit">Post</button>
          </p>
        </form>
        <% reviews.forEach( reviews => { %> <% if(reviews.developerID==reviewId)
        {%>
        <div
          class="
            w3-container w3-padding w3-border w3-margin-top w3-margin-bottom
          "
        >
          <h3 class="w3-large" style="font-weight: bold; color: teal">
            <%= reviews.name%>
          </h3>
          <p style="color: rgb(138, 138, 138)"><%= reviews.comment%></p>
        </div>
        <%}%>
         <%})%>
      </div>
    </div>
  </body>
</html>
